@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Potta+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #101a32; */
  background: url('https://wallpaperaccess.com/full/624111.jpg');
  background-size: cover;
}

.container {
  width: 22rem;
  margin-top: 8rem;
  /* background-color: white; */
  background: linear-gradient(white,rgb(57, 67, 113));
  border-radius: 10px;
  padding: 30px;
}

.container:hover{
    box-shadow: 0 0 6px #ffffff;
    transition: 0.4s;
    transform: scale(1.02);
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
 
}

.inputs input {
  outline: none;
  height: 30px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid grey;
}

#results {
  font-size: 20px;
  text-align: center;
  color: blue;
}

.calcBtn {
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  background: #2563eb;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

#message {
  text-align: center;
}